<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Liste des produits
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let product of productArray">
    <ion-card-header>
      <ion-card-title>{{product.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{product.content}}<br>
      créé le : {{product.created_at}}<br>
      modifié le : {{product.updated_at}}<br>
      <ion-button size="small"  color="secondary">Voir</ion-button>
      <ion-button size="small"  color="success" href="/tabs/tab3/{{product._id}}">Modifier</ion-button>
      <ion-button size="small"  color="danger" (click)="deleteProduct(product._id)">Supprimer</ion-button>
    </ion-card-content>
  </ion-card>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
